# mathematical operations &  comments

In [ ]:
print(30 + 10+ 40)
print(4)
print(-3)

In [ ]:
print(30 + 10+ 40) print(4) print(-3)

In [ ]:
print( 8 - 7 ) # This is the line that outputs 1

In [ ]:
print(16*10)
print(48/5)
print(5**3)

In [ ]:
print(4 + 2 * 10)
print((4 + 2) * 10)

# Variables and Data Types

In [ ]:
a_value = 15
a_result = (25-7)*17
print(a_value)
print(a_result + 12)
print(a_value + a_result)

In [ ]:
# INITIAL CODE
#old-income = 34000
#new income = 40000

In [ ]:
income = 34000
income = income +6000
print(income)

In [ ]:
y += 10

In [ ]:
variable_1 = 20
variable_2 = 20
variable_2 += 10
variable_1 *= 4
print(variable_1)
print(variable_2)

In [ ]:
variable_1 = 10
variable_2 = 2.5

type(variable_1)
type(variable_2)

variable_1 +=6.5
variable_2 *= 2
print(variable_1)
print(variable_2)

type(variable_1)
type(variable_2)

In [ ]:
print(float(10))
print(str(15))
print(int(4.3))
print(int(4.99))
print(round(4.99))
print(round(4.5))

In [ ]:
print(type('Facebook'))
game = 'Clash of Clans'
short_description = 'Clash of Clans is free and has an average rating of 4.5.'
print(game)
print(short_description)

In [ ]:
print('a' + 'b')
print('a' + ' ' + 'b')
print('This' + 'is' + 'a' + 'sentence.')
print('This' + ' ' + 'is' + ' ' + 'a' + ' ' + 'sentence.')
print('This ' + 'is ' + 'a ' + 'sentence.')

In [ ]:
print('a' * 2)
print('a' * 5)
print('a ' * 5)
print('a' * 1)
print('a' * 0)
print('a' * -1)

In [ ]:
print('a' + 1)
print('a' - 1)

In [ ]:
print(int('4') + 1)
print(float('3.3') + 1)
print(int('wrong format'))
print(int('4.3'))

In [ ]:
text_1 = '''This is a sentence.
This is another sentence, on a different line.
Yet another sentence.'''
text_2 = """-----------------------
Line1.
Line2.
Line3."""
print(text_1)
print(text_2)