# Numpy

### Selecting Rows, Columns, And Items From A Ndarray

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

In [ ]:
data_ndarray = np.array([5, 10, 15, 20])

In [ ]:
import csv

# import nyc_taxi.csv as a list of lists
f = open("nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

# remove the header row
taxi_list = taxi_list[1:]

# convert all values to floats
converted_taxi_list = []
for row in taxi_list:
    converted_row = []
    for item in row:
        converted_row.append(float(item))
    converted_taxi_list.append(converted_row)
    
converted_taxi_list

In [ ]:
taxi = np.array(converted_taxi_list)

In [ ]:
print(taxi)

In [ ]:
data_ndarray = np.array([[5, 10, 15], 
                         [20, 25, 30]])
print(data_ndarray.shape)

In [ ]:
row_0 = taxi[0]
rows_391_to_500 = taxi[391:501]
row_21_column_5 = taxi[21,5]

In [ ]:
print(row_0)
print('===================')
print(rows_391_to_500)
print('===================')
print(row_21_column_5)

In [ ]:
a = [1,4,7]
columns_1_4_7 = taxi[:,[1,4,7]]
row_99_columns_5_to_8 = taxi[99,5:9]
rows_100_to_200_column_14 = taxi[100:201,14]

In [ ]:
print(columns_1_4_7)
print('===================')
print(row_99_columns_5_to_8)
print('===================')
print(rows_100_to_200_column_14)

In [ ]:
fare_amount = taxi[:,9]
fees_amount = taxi[:,10]

fare_and_fees = fare_amount + fees_amount
fare_and_fees[3:9]

In [ ]:
trip_distance_miles = taxi[:,7]
trip_length_seconds = taxi[:,8]

trip_length_hours = trip_length_seconds / 3600 # 3600 seconds is one hour

trip_mph = trip_distance_miles / trip_length_hours
trip_mph

In [ ]:
mph_min = trip_mph.min()

mph_max = trip_mph.max()
mph_mean = trip_mph.mean()

In [ ]:
print(mph_min)
print(mph_max)
print(mph_mean)

In [ ]:
# we'll compare against the first 5 rows only
taxi_first_five = taxi[:5]
# select these columns: fare_amount, fees_amount, tolls_amount, tip_amount
fare_components = taxi_first_five[:,9:13]

# sum the component columns
fare_sums = fare_components.sum(axis=1)

# select the total_amount column
fare_totals = taxi_first_five[:,13]

# compare the summed columns to the fare_totals
print(fare_totals)
print(fare_sums)